$header-color: linear-gradient(#23437c, #0f2453 );
$body-color: #f5f5f5;
$white-color: #ffffff;
$menu-link-color: #444444;
$border-color: #dddddd;
$menu-hradings-color: #3a65d4;
$menu-hover-bg: #daf1ff;
$text-panel-bg: #dcefff;

/*************** Device Width ******************/

$small: 48rem;